{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <div>
        <div>
            <a href="{% url 'user-posts' object.autor.username %}">{{ object.autor }}</a>
            <small>{{ object.date_posted|date:"E d, Y" }}</small>
            {% if object.autor == user%}
            <div>
                <a href="{% url 'post-update' object.id %}" class="btn btn-primary">Edytuj &rarr;</a>
                <a href="{% url 'post-delete' object.id %}" class="btn btn-primary">Usuń &rarr;</a>
            </div>
            {% endif %}
        </div>
        <h2>{{ object.title }}</h2>
        <p>{{ object.content }}</p>
    </div>
    <a href="{{request.META.HTTP_REFERER}}">Powrót</a>
</article>
{% endblock content %}