{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title>Tournaments - {{ title }}</title>
    {% else %}
    <title>Tournaments</title>
    {% endif %}
</head>
<!-- color:#008000;background:#000c00;-->

<body style="font-family:Consolas,garamond,serif;font-size:16px;">
    <header>
        <nav>
            <div class="container">
                <a href="{% url 'blog-home' %}">Home</a>
                <a href="{% url 'tournaments-home' %}">Tournaments</a>
                <a href="{% url 'team-home' %}">Drużyny</a>
                <a href="{% url 'player-home' %}">Gracze</a>
                <a href="">About</a>

                {% if user.is_authenticated %}
                <a href="">Nowy Post</a>
                <a href="">Profil</a>
                <a href="">Wyloguj</a>
                {% else %}
                <a href="">Zaloguj</a>
                <a href="">Zarejestruj</a>
                {% endif %}
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>

</html>