{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    {% if object %}
    <a href="{% url 'game_update' object.id %}">Edytuj</a>
    <a href="{% url 'game_delete' object.id %}">Usuń</a>
    <div>
        <h2>Data> {{ object.date }}</h2>
        <p>Grupa> <a href="{% url 'group_detail' object.grup.pk %}">{{ object.group.name }}</a></p>
        <p>Drużyna> <a href="{% url 'team_detail' object.team_a.pk %}">{{ object.team_a }}</a> vs <a
                href="{% url 'team_detail' object.team_b.pk %}">{{ object.team_b }}</a></p>
        <p>Wynik> {{ object.score_a }}:{{ object.score_b }}</p>
        <a href="{{request.META.HTTP_REFERER}}">Powrót</a>
    </div>
    {% endif %}
</article>
{% endblock content %}