{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'game_add' %}">Dodaj nowy mecz</a>
    <div>
        {% if Games  %}
        <fieldset>
            <legend>Wszscy mecze></legend>
            {% for game in Games %}

            <div class="alert alert-{{ message.tags }}">
                <a href="{% url 'game_detail' game.id %}">{{ game }} </a>
            </div>

            {% endfor %}
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}