{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'game_add' %}">Dodaj nowy mecz</a>
    <div>
        {% if Games  %}
        <fieldset>
            <legend>Wszystkie mecze></legend>
            <ol>
                {% for game in Games %}
                <li><a href="{% url 'game_detail' game.pk %}">{{ game.group.name }}
                        {{ game.team_a.name }}-{{ game.team_b.name }}
                        ({{ game.score_a }}:{{ game.score_b }})</a></li>
                {% endfor %}
            </ol>
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}