{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'group_add' %}">Dodaj nową grupę</a>
    <div>
        {% if Groups  %}
        <fieldset>
            <legend>Wszystkie grupy></legend>
            {% for group in Groups %}

            <div class="alert alert-{{ message.tags }}">
                <a href="{% url 'group_detail' group.id %}">{{ group.name }} </a>
            </div>

            {% endfor %}
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}