{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    {% if object %}
    <h2 class="mt-4 mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a
                    href="{% url 'tournament_detail' object.round.tournament.pk %}">{{ object.round.tournament.name }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'round_detail' object.round.pk %}">Runda: {{ object.round.name }}</a>
            </li>
            <li class="breadcrumb-item active">Grupa: {{ object.name }}</li>
        </ol>
    </h2>
    <a class="btn btn-primary" href="{% url 'group_update' object.id %}">Edytuj</a>
    <a class="btn btn-primary" href="{% url 'group_delete' object.id %}">Usuń</a>
    <h2 class="mt-4 mb-3">Wszystkie mecze rozgrane w grupie</h2>
    <div class="card my-4">
        {% if object.get_all_games  %}
        <fieldset>
            <ol>
                {% for game in object.get_all_games %}

                <li> <a href="{% url 'game_detail' game.pk %}">{{ game.team_a.name }}-{{ game.team_b.name }}
                        ({{ game.score_a }}:{{ game.score_b }}) </a></li>

                {% endfor %}
            </ol>
        </fieldset>
        {% endif %}
    </div>
    {% endif %}
    <a href="{{request.META.HTTP_REFERER}}">Powrót</a>
</article>
{% endblock %}