{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <div>
        {% if Groups  %}
        <h2 class="mt-4 mb-3">Wszystkie grupy <a class="btn btn-primary" href="{% url 'game_add' %}">Nowa grupa</a></h2>
        <div class="card my-4">
            <table style="width:100%">
                <tr>
                    <th>Grupa</th>
                    <th>Runda</th>
                    <th>Turniej</th>
                </tr>
                {% for group in Groups %}
                <tr>
                    <td><a href="{% url 'group_detail' group.id %}">{{ group.name }}</a></td>
                    <td><a href="{% url 'round_detail' group.round.id %}">{{ group.round.name }}</a></td>
                    <td><a
                            href="{% url 'tournament_detail' group.round.tournament.id %}">{{ group.round.tournament.name }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
</article>
{% endblock content %}