{% extends "tournaments_app/base.html" %}
{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <h2 class="mt-4 mb-3">Potwierdź usunięcie</h2>
            <div class="card my-4">
                <div>
                    Czy na pewno chcesz usunąć grupe {{ object.name }}
                </div>
                Pomiędzy {{ object.team_a.name }} vs {{ object.team_b.name }}
            </div>
        </fieldset>
        {% include "tournaments_app/footer.html" %}
</div>
{% endblock content %}