{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'group_add' %}">Dodaj nową grupę</a>
    <div>
        {% if Groups  %}
        <fieldset>
            <h2 class="mt-4 mb-3">Wszystkie grupy></h2>
            <ol>
                {% for group in Groups %}
                <li><a
                        href="{% url 'group_detail' group.id %}">{{ group.round.tournament.name }}-{{ group.round.name }}-{{ group.name }}</a>
                </li>
                {% endfor %}
            </ol>
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}