{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'player_add' %}">Dodaj nowego gracza</a>
    <div>
        {% if Players  %}
        <fieldset>
            <legend>Wszscy gracze></legend>
            <ol>
                {% for player in Players %}
                <li> <a href="{% url 'player_detail' player.id %}">{{ player.name }} {{ player.surname }}</a></li>
                {% endfor %}
            </ol>
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}