{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'player_add' %}">Dodaj nowego gracza</a>
    <div>
        {% if Players  %}
        <fieldset>
            <legend>Wszscy gracze></legend>
            {% for player in Players %}

            <div class="alert alert-{{ message.tags }}">
                <a href="{% url 'player_detail' player.id %}">{{ player }} </a>
            </div>

            {% endfor %}
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}