{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    {% if object %}
    <div>
        <h1 class="mt-4 mb-3"><small>Gracz</small> {{ object.name }} {{ object.surname }}
            <a class="btn btn-primary" href="{% url 'player_update' object.id %}">Edytuj</a>
            <a class="btn btn-primary" href="{% url 'player_delete' object.id %}">Usuń</a>
        </h1>

        <div class="card my-4">
            <div class="card-body">
                <ul>
                    <ol> Data urodzenia {{ object.date_of_birth }}</ol>
                    <ol> Przynależy do drużyny
                        <a href="{% url 'team_detail' object.team.id %}">{{ object.team.name }}</a></ol>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <a href="{{request.META.HTTP_REFERER}}">Powrót</a>
</article>
{% endblock content %}