{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <div>
        {% if Players  %}
        <h2 class="mt-4 mb-3">Wszscy gracze <a class="btn btn-primary" href="{% url 'player_add' %}">Nowy gracz</a></h2>
        <div class="card my-4">
            <table style="width:100%">
                <tr>
                    <th>Nazwisko i Imię</th>
                    <th>Drużyna</th>
                </tr>
                {% for player in Players %}
                <tr>
                    <td><a href="{% url 'player_detail' player.id %}">{{ player.surname }} {{ player.name }} </a></td>
                    <td><a href="{% url 'tournament_detail' player.team.id %}">{{ player.team }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
    <a href="{{request.META.HTTP_REFERER}}">Powrót</a>
</article>
{% endblock content %}