{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'round_add' %}">Dodaj nową rundę</a>
    <div>
        {% if Rounds  %}
        <fieldset>
            <legend>Wszystkie rundy></legend>
            <ol>
                {% for round in Rounds %}
                <li><a href="{% url 'round_detail' round.id %}">{{ round.tournament.name }}-{{ round.name }}</a></li>
                {% endfor %}
            </ol>
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}