{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    {% if object %}
    <div>
        <h2 class="mt-4 mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'tournament_detail' object.tournament.pk %}">{{ object.tournament.name }}</a>
                </li>
                <li class="breadcrumb-item active">Runda: {{ object.name }}</li>
            </ol>
            <a class="btn btn-primary" href="{% url 'round_update' object.id %}">Edytuj</a>
            <a class="btn btn-primary" href="{% url 'round_delete' object.id %}">Usuń</a>
        </h2>
        <p>Ilość graczy {{ object.number_of_players }}</a></p>
        {% if object.get_all_groups  %}
        <h3>Wszystkie grupy</H3>
        <div class="card my-4">
            <ol>
                {% for group in object.get_all_groups %}
                <li> <a href="{% url 'group_detail' group.id %}">{{ group.name }} </a></li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div>
    {% endif %}
    <a href="{{request.META.HTTP_REFERER}}">Powrót</a>
</article>
{% endblock content %}