{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'round_add' %}">Dodaj nową rundę</a>
    <div>
        {% if Rounds  %}
        <fieldset>
            <legend>Wszystkie rundy></legend>
            {% for round in Rounds %}
            <div class="alert alert-{{ message.tags }}">
                <a href="{% url 'round_detail' round.id %}">{{ round.name }} </a>
            </div>
            {% endfor %}
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}