{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    {% if object %}
    <a href="{% url 'round_update' object.id %}">Edytuj</a>
    <a href="{% url 'round_delete' object.id %}">Usuń</a>
    <div>
        <h2>Nazwa rundy> {{ object.name }}</h2>
        <p>Nazwa turnieju> <a href="{% url 'tournament_detail' object.tournament.pk %}">{{ object.tournament.name }}</a>
        </p>
        <p>Ilość graczy> {{ object.number_of_players }}</a></p>

        {% if object.get_all_groups  %}
        <fieldset>
            <legend>Wszystkie grupy></legend>
            {% for group in object.get_all_groups %}

            <div class="alert alert-{{ message.tags }}">
                <a href="{% url 'group_detail' group.id %}">{{ group.name }} </a>
            </div>

            {% endfor %}
        </fieldset>
        {% endif %}
    </div>
    {% endif %}
    <a href="{{request.META.HTTP_REFERER}}">Powrót</a>
</article>
{% endblock content %}