{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'team_add' %}">Dodaj nową drużynę</a>
    <div>
        {% if Teams  %}
        <fieldset>
            <legend>Wszsytkie drużyny></legend>
            <ol>
                {% for team in Teams %}
                <li><a href="{% url 'team_detail' team.id %}">{{ team.name }}</a></li>
                {% endfor %}
            </ol>
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}