{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'team_add' %}">Dodaj nową drużynę</a>
    <div>
        {% if Teams  %}
        <fieldset>
            <legend>Wszsytkie drużyny></legend>
            {% for team in Teams %}

            <div class="alert alert-{{ message.tags }}">
                <a href="{% url 'team_detail' team.id %}">{{ team.name }} </a>
            </div>

            {% endfor %}
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}