{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    {% if object %}
    <a href="{% url 'team_update' object.id %}">Edytuj</a>
    <a href="{% url 'team_delete' object.id %}">Usuń</a>
    <div>
        <h2>Nazwa zespołu> {{ object.name }}</h2>
        <fieldset>
            <legend>Gracze></legend>
            <ol>
                {% for player in object.get_players %}
                <li><a href="{% url 'player_detail' player.pk %}">{{ player.name }}</a></li>
                {% endfor %}
            </ol>
        </fieldset>
        <a href="{{request.META.HTTP_REFERER}}">Powrót</a>
    </div>
    {% endif %}
</article>
{% endblock content %}