{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'tournament_add' %}">Dodaj nowy turniej</a>
        </li>
    </ol>
    <div>
        {% if Tournaments  %}
        <fieldset>
            <h1 class="mt-4 mb-3">Wszsytkie turnieje</h1>
            <ol>
                {% for tournament in Tournaments %}
                <li><a href="{% url 'tournament_detail' tournament.id %}">{{ tournament.name }} </a> </li>
                {% endfor %}
            </ol>
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}