{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    <a href="{% url 'tournament_add' %}">Dodaj nowy turniej</a>
    <div>
        {% if Tournaments  %}
        <fieldset>
            <legend>Wszsytkie turnieje></legend>
            <ol>
                {% for tournament in Tournaments %}
                <li><a href="{% url 'tournament_detail' tournament.id %}">{{ tournament.name }} </a> </li>
                {% endfor %}
            </ol>
        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}