{% extends "tournaments_app/base.html" %}
{% block content %}
<article>
    {% if Tournaments  %}
    <h1 class="mt-4 mb-3">Wszystkie turnieje
        <a class="btn btn-primary" href="{% url 'tournament_add' %}">Nowy turniej</a>
    </h1>
    <div class="card my-4">
        <ol>
            {% for tournament in Tournaments %}
            <li><a href="{% url 'tournament_detail' tournament.id %}">{{ tournament.name }} </a> </li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}
</article>
{% endblock content %}