{% extends "tournaments_app/base.html" %}

{% block content %}
<article>
    {% if object %}

    <div>
        <h1 class="mt-4 mb-3">Turniej <small>{{ object.name }}</small></h1>
        <a class="btn btn-primary" href="{% url 'tournament_update' object.id %}">Edytuj</a>
        <a class="btn btn-primary" href="{% url 'tournament_delete' object.id %}">Usuń</a>

        <!-- Region rund w turnieju -->
        <div class="card my-4">
            <h5 class="card-header">Drużyny</h5>
            <div class="card-body">
                {% for team in object.get_all_teams %}
                <a style="margin: 3px;" class="btn btn-primary"
                    href="{% url 'team_detail' team.pk %}">{{ team.name }}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Region rund w turnieju -->
        <div class="card my-4">
            <h1 class="card-header">Rundy</h1>
            <div class="card-body">
                {% for round in object.get_all_rounds %}
                <div class="card my-4">
                    <h3 class="card-header"><a href="{% url 'round_detail' round.pk %}">Runda {{ round.name }}</a></h3>
                    <div class="card-body">
                        <div class="row">
                            {% for group in round.get_all_groups %}
                            <div class="col-md-4">
                                <div class="card h-100">
                                    <h3 class="card-header"><a href="{% url 'group_detail' group.pk %}">Grupa
                                            {{ group.name }}</a></h3>
                                    <div class="card-body">
                                        <h4> {{ group.team_a.name }}-{{ group.team_b.name }}</h4>
                                        <div class="font-italic">ilość rozegranych meczy:
                                            {{group.get_all_games.count}}
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush"></ul>
                                    {% for game in group.get_all_games %}
                                    <li class="list-group-item">
                                        <div class="font-italic">{{ game.date }}</div>
                                        <a href="{% url 'game_detail' game.pk %}" class="btn btn-primary">
                                            ({{ game.score_a }}:{{ game.score_b }})</a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

</article>
{% endblock content %}