{% extends "tournaments_app/base.html" %}

{% block content %}
<article>
    {% if object %}
    <a href="{% url 'tournament_update' object.id %}">Edytuj</a>
    <a href="{% url 'tournament_delete' object.id %}">Usuń</a>
    <div>
        <h1>Turniej> {{ object.name }}</h1>
        <fieldset>
            <legend>Drużyny></legend>
            {% for team in object.get_all_teams %}
            <div>
                <a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a>
            </div>
            {% endfor %}
        </fieldset>

        <fieldset>
            <h1 class="card-header">Rundy</h1>

            {% for round in object.get_all_rounds %}
            <div class="container">
                <h1><a href="{% url 'round_detail' round.pk %}">{{ round.name }}</a></h1>
                <div class="row">


                    {% for group in round.get_all_groups %}
                    <div class="col-md-4">
                        <div class="card h-100">
                            <h3 class="card-header">Grupa {{ group.name }}</h3>
                            <div class="card-body">
                                <h4> {{ group.team_a.name }}-{{ group.team_b.name }}</h4>
                                <div class="font-italic">ilość rozegranych meczy: {{group.get_all_games.count}}
                                </div>
                            </div>
                            <ul class="list-group list-group-flush"></ul>
                            {% for game in group.get_all_games %}
                            <li class="list-group-item">
                                <div class="font-italic">{{ game.date }}</div>
                                <a href="{% url 'game_detail' game.pk %}" class="btn btn-primary">
                                    ({{ game.score_a }}:{{ game.score_b }})</a>
                            </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            {% endfor %}

        </fieldset>
        {% endif %}
    </div>
</article>
{% endblock content %}